parameters:
	# see https://apps.twitter.com/
	twitter:
		consumerKey:
		consumerSecret:
		accessToken:
		accessTokenSecret:

nette:
	database:
		dsn: 'mysql:host=localhost;dbname=nette_presentations_router'
		user: root
		password:
