<!DOCTYPE html>
<head>
	<title>{#title}Nette Custom Router Demo{/#}</title>
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
	{#head}{/#}
</head>

<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

{include #content}

{#scripts}
	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/main.js"></script>
{/#}
