{block title}{$group->name} – User Profile{/block}

{block content}
	<h1>{$group->name}</h1>

	<h2>Fans</h2>

	<ul>
	{foreach $members as $member}
		<li><a n:href="Users:, userId => $member->id">{$member->name}</a></li>
	{/foreach}
	</ul>
{/block}
