{block title}{$user->name} – User Profile{/block}

{block content}
	<h1>{$user->name}</h1>

	{if isset($tweets) && $tweets}
		<ul class="tweets">
		{foreach $tweets as $tweet}
			<li>{$tweet|tweetText|noescape}</li>
		{/foreach}
		</ul>
	{/if}
{/block}
